<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <style>
        body {
            display: flex;
            flex-direction: row;

            margin: 0;
            padding: 0;
        }
        body > header {
            display: flex;
            flex-direction: column;
        }
        body > header > input {
            border: none;
            padding: 2em 5em;

            color: black;
            background-color: beige;
        }
        body > header > input:hover {
            color: black;
            background-color: white;
        }
        body > main {
            padding: 1em 0 0 2em;

            border-left: solid 1px;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <%- include('partials/toast') %>
    <header>
        <img src="" alt="Image">
        <input type="button" value="DashBoard" onclick="changeTab('dashboard')">
        <input type="button" value="Add New Blog" onclick="changeTab('newBlog')">
    </header>
    <main>
        <div class="dashboard" style="display: none;"><h1>this is the dashboard</h1></div>
        <div class="newBlog" >
            <style>
                .blogTemplate {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                }
                .blogTemplate > div {
                    display: flex;
                    flex-direction: column;
                }
            </style>
            <div class="blogTemplate">
                <div>
                    <h1>newBlog</h1>
                    <label for="blogTitle">Blog Title</label>
                    <input type="text" name="blogTitle" id="blogTitle">
                    <label for="blogBody">Blog body</label>
                    <textarea name="blogBody" id="blogBody" cols="50" rows="50"></textarea>
                </div>
                <div style="padding: 1em; margin: 1em;">
                    <h1>Metadata for Blog</h1>
                    <h2>Editors</h2>
                    <input type="text" name="editors" id="editors">
                    <h2>Tags</h2>
                    <input type="text" name="blogTags" id="blogTags">
                    <h2>Relative links</h2>
                    <textarea name="blogLinks" id="blogLinks" cols="30" rows="10"></textarea>
                    <h2>Image links</h2>
                    <input type="file" name="image" id="image">  
                    <input type="submit" value="add Blog" style="margin-top: 1em;" onclick="addNewBlog()">
                </div>
            </div>
            <script>
                async function addNewBlog () {
                    const title = document.querySelector("#blogTitle").value 
                    const body = document.querySelector("#blogBody").value
                    const editors = document.querySelector("#editors").value.split(",")
                    const tags = document.querySelector("#blogTags").value.split(",")
                    const relativeLinks = document.querySelector("#blogLinks").value.split(",")
                    const blogId = title.replace(/[#-.]|[[-^]|[?|{}]\s+/g, '-').replace(/\s+/g, '+');
                    if (title && body){
                        await axios.post("/admin/blogs", {blogId, title, body, editors, tags, relativeLinks})
                        .then(response => showAlert(response.data.message,"success"))
                        .catch(err => showAlert("Some Error Occured while posting the blog","danger"))
                    } else {
                        showAlert("Please Add Title and body","success")
                    }
                }
            </script>
        </div>
    </main>
</body>
    <script>
        let loadedTab = "newBlog";
        function changeTab(tab) {
            document.querySelector("."+loadedTab).style.display = "none";
            loadedTab = tab;
            document.querySelector("."+loadedTab).style.display = "block";
        }
    </script>
</html>